<nav class="light-blue darken-4">
  <div class="nav-wrapper">
    <ul class="left">
      <li><a calshref="sass.html"><i class="fab fa-facebook-f"></i></a></li>
      <li><a calshref="badges.html"><i class="fab fa-twitter"></i></a></li>
      <li><a calshref="badges.html"><i class="fab fa-youtube"></i></a></li>
      <li><a calshref="badges.html"><i class="fab fa-instagram"></i></a></li>
    </ul>
    <ul class="right hide-on-med-and-down">
      <li><a class="waves-effect waves-light btn-small grey">Registro</a></li>
      <li><a class="waves-effect waves-light btn-small light-blue-text darken-4-text amber lighten-1">Inicio sesión</a></li>
    </ul>
    <ul class="right hide-on-large-only">
      <li>
        <a class="waves-effect waves-light btn-small btn-floating grey">
          <i class="material-icons">person_add</i>
        </a>
      </li>
      <li>
        <a class="waves-effect waves-light btn-small btn-floating light-blue-text darken-4-text amber lighten-1">
          <i class="material-icons">home</i>
        </a>
      </li>
    </ul>
  </div>
</nav>
