<ul id="dropdown1" class="dropdown-content">
  <li><a href="#!">Majadahonda</a></li>
  <li><a href="#!">Las Rozas</a></li>
  <li><a href="#!">Madrid</a></li>
</ul>

<ul id="dropdown2" class="dropdown-content">
  <li><a href="#!">Majadahonda</a></li>
  <li><a href="#!">Las Rozas</a></li>
  <li><a href="#!">Madrid</a></li>
</ul>

<nav class="grey">
  <div class="nav-wrapper">
    <a href="#!" class="brand-logo">
      <img width="230px" class="responsive-img" src="./assets/imagenes/logo.png">
    </a>
    <ul class="right hide-on-med-and-down">
      <li><a href="sass.html">Inicio</a></li>
      <li><a href="badges.html">Cartelera</a></li>
      <li><a href="badges.html">Promociones</a></li>
      <li>
        <a class="dropdown-trigger" href="#!" data-target="dropdown1">Ciudades
          <i class="material-icons right">arrow_drop_down</i>
        </a>
      </li>
    </ul>
    <a href="#" data-target="mobile-demo" class="right sidenav-trigger"><i class="material-icons">menu</i></a>
  </div>
</nav>

<ul class="sidenav light-blue darken-4" id="mobile-demo">
  <li><a class="white-text" href="sass.html">Inicio</a></li>
  <li><a class="white-text" href="badges.html">Cartelera</a></li>
  <li><a class="white-text" href="badges.html">Promociones</a></li>
  <li>
    <a class="white-text dropdown-trigger" href="#!" data-target="dropdown2">Ciudades
      <i class="material-icons right">arrow_drop_down</i>
    </a>
  </li>
</ul>
