<div class="row white">
  <div class="col s12">
    <div class="row">
      <h4 class="center-align">Cartelera semanal</h4>
    </div>
    <div class="row">
      <div class="col s12 m2 12 card">
        <div class="card-image waver-efect waves-blog waves-light">
          <img class="activator" src="./assets/imagenes/posters/BatmanVSSuperman.jpg" alt="">
        </div>
        <div class="card-content">
          <a href="#"> <i class="fas fa-heart" ></i> </a>
          <a href="#"> <i class="fab fa-youtube" ></i> </a>
          <a href="#"> <i class="fas fa-bookmark" ></i> </a>
          <a href="#"> <i class="fas fa-language" ></i> </a>
          <a href="#"> <i class="fas fa-share-alt" ></i> </a>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text">
            Nombre<i class="material-icons">close</i>
          </span>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis eos id debitis consequatur doloremque impedit iure laudantium voluptas adipisci tenetur cupiditate natus, veniam enim, laboriosam pariatur labore? Minus, quas illo.</p>
        </div>
      </div>
      <div class="col s12 m2 12 card">
        <div class="card-image waver-efect waves-blog waves-light">
          <img class="activator" src="./assets/imagenes/posters/what_if.jpg" alt="">
        </div>
        <div class="card-content">
          <a href="#"> <i class="fas fa-heart" ></i> </a>
          <a href="#"> <i class="fab fa-youtube" ></i> </a>
          <a href="#"> <i class="fas fa-bookmark" ></i> </a>
          <a href="#"> <i class="fas fa-language" ></i> </a>
          <a href="#"> <i class="fas fa-share-alt" ></i> </a>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text">
            Nombre<i class="material-icons">close</i>
          </span>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis eos id debitis consequatur doloremque impedit iure laudantium voluptas adipisci tenetur cupiditate natus, veniam enim, laboriosam pariatur labore? Minus, quas illo.</p>
        </div>
      </div>
      <div class="col s12 m2 12 card">
        <div class="card-image waver-efect waves-blog waves-light">
          <img class="activator" src="./assets/imagenes/posters/stars.jpg" alt="">
        </div>
        <div class="card-content">
          <a href="#"> <i class="fas fa-heart" ></i> </a>
          <a href="#"> <i class="fab fa-youtube" ></i> </a>
          <a href="#"> <i class="fas fa-bookmark" ></i> </a>
          <a href="#"> <i class="fas fa-language" ></i> </a>
          <a href="#"> <i class="fas fa-share-alt" ></i> </a>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text">
            Nombre<i class="material-icons">close</i>
          </span>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis eos id debitis consequatur doloremque impedit iure laudantium voluptas adipisci tenetur cupiditate natus, veniam enim, laboriosam pariatur labore? Minus, quas illo.</p>
        </div>
      </div>
      <div class="col s12 m2 12 card">
        <div class="card-image waver-efect waves-blog waves-light">
          <img class="activator" src="./assets/imagenes/posters/mostruos_vs_alienigenas.jpg" alt="">
        </div>
        <div class="card-content">
          <a href="#"> <i class="fas fa-heart" ></i> </a>
          <a href="#"> <i class="fab fa-youtube" ></i> </a>
          <a href="#"> <i class="fas fa-bookmark" ></i> </a>
          <a href="#"> <i class="fas fa-language" ></i> </a>
          <a href="#"> <i class="fas fa-share-alt" ></i> </a>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text">
            Nombre<i class="material-icons">close</i>
          </span>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis eos id debitis consequatur doloremque impedit iure laudantium voluptas adipisci tenetur cupiditate natus, veniam enim, laboriosam pariatur labore? Minus, quas illo.</p>
        </div>
      </div>
      <div class="col s12 m2 12 card">
        <div class="card-image waver-efect waves-blog waves-light">
          <img class="activator" src="./assets/imagenes/posters/gernika.jpg" alt="">
        </div>
        <div class="card-content">
          <a href="#"> <i class="fas fa-heart" ></i> </a>
          <a href="#"> <i class="fab fa-youtube" ></i> </a>
          <a href="#"> <i class="fas fa-bookmark" ></i> </a>
          <a href="#"> <i class="fas fa-language" ></i> </a>
          <a href="#"> <i class="fas fa-share-alt" ></i> </a>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text">
            Nombre<i class="material-icons">close</i>
          </span>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis eos id debitis consequatur doloremque impedit iure laudantium voluptas adipisci tenetur cupiditate natus, veniam enim, laboriosam pariatur labore? Minus, quas illo.</p>
        </div>
      </div>
      <div class="col s12 m2 12 card">
        <div class="card-image waver-efect waves-blog waves-light">
          <img class="activator" src="./assets/imagenes/posters/cowboys_aliens.jpg" alt="">
        </div>
        <div class="card-content">
          <a href="#"> <i class="fas fa-heart" ></i> </a>
          <a href="#"> <i class="fab fa-youtube" ></i> </a>
          <a href="#"> <i class="fas fa-bookmark" ></i> </a>
          <a href="#"> <i class="fas fa-language" ></i> </a>
          <a href="#"> <i class="fas fa-share-alt" ></i> </a>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text">
            Nombre<i class="material-icons">close</i>
          </span>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis eos id debitis consequatur doloremque impedit iure laudantium voluptas adipisci tenetur cupiditate natus, veniam enim, laboriosam pariatur labore? Minus, quas illo.</p>
        </div>
      </div>
    </div>
  </div>
</div>
