<div class="row blue lighten-4 filter">
  <h6 class="left-align">Compra tus entradas</h6>
  <div class="col s12 m3 13 input-field">
    <select name="" id="">
      <option value="" selected>Fecha</option>
      <option value="">1,2,3</option>
    </select>
  </div>
  <div class="col s12 m3 13 input-field">
    <select name="" id="">
      <option value="" selected>Pelicula</option>
      <option value="">1,2,3</option>
    </select>
  </div>
  <div class="col s12 m3 13 input-field">
    <select name="" id="">
      <option value="" selected>Formato</option>
      <option value="">1,2,3</option>
    </select>
  </div>
  <div class="col s12 m3 13 input-field">
    <select name="" id="">
      <option value="" selected>Hora</option>
      <option value="">1,2,3</option>
    </select>
  </div>
</div>
