<div class="row white">
  <div class="carousel">
    <a href="#" class="carousel-item"><img src="./assets/imagenes/promociones/1.png"></a>
    <a href="#" class="carousel-item"><img src="./assets/imagenes/promociones/2.jpeg"></a>
    <a href="#" class="carousel-item"><img src="./assets/imagenes/promociones/3.jpg"></a>
    <a href="#" class="carousel-item"><img src="./assets/imagenes/promociones/4.png"></a>
    <a href="#" class="carousel-item"><img src="./assets/imagenes/promociones/5.jpg"></a>
    <a href="#" class="carousel-item"><img src="./assets/imagenes/promociones/6.jpg"></a>
    <a href="#" class="carousel-item"><img src="./assets/imagenes/promociones/7.jpg"></a>
    <a href="#" class="carousel-item"><img src="./assets/imagenes/promociones/8.jpg"></a>
  </div>
</div>
