.social{
  height: 40px;
  line-height: 35px;
}

.social i {
  height: 40px!important;
  line-height: 35px!important;
}

.brand-logo{
  padding: 5px!important
}

.dropdown-content li > a,
.dropdown-content li > span{
  background-color: #01579b !important;
  color: #ffffff;
}

.container{
  width: 85%!important;
}

.filter{
  padding: 5px 55px;
}

.row{
  margin-bottom: 0px;
}

.card-content a {
  font-size: 18px;
  padding-left: 5px;
}
.card-content .fa-heart {
  color: rgb(212, 164, 164)
}

.card-content .fa-youtube {
  color: red
}

.card-content .fa-bookmark {
  color: orange
}
.card-content .fa-share-alt {
  color: green
}
.carousel{
  perspective: 900px!important;
  height: 280px;
}
